<%- contentFor('title') %> Home
<%- contentFor('body') %>
<div class="grid grid-cols-3 gap-5">
  <div class="bg-primary p-5 w-full rounded text-white flex gap-4 items-center">
    <svg width="70" height="59" viewBox="0 0 70 59" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M64.1667 5.83333H40.8333V14.5833H29.1667V5.83333H5.83333C4.28624 5.83333 2.80251 6.44791 1.70854 7.54188C0.614582 8.63584 0 10.1196 0 11.6667L0 52.5C0 54.0471 0.614582 55.5308 1.70854 56.6248C2.80251 57.7187 4.28624 58.3333 5.83333 58.3333H64.1667C65.7138 58.3333 67.1975 57.7187 68.2915 56.6248C69.3854 55.5308 70 54.0471 70 52.5V11.6667C70 10.1196 69.3854 8.63584 68.2915 7.54188C67.1975 6.44791 65.7138 5.83333 64.1667 5.83333ZM23.3333 20.4167C24.8804 20.4167 26.3642 21.0312 27.4581 22.1252C28.5521 23.2192 29.1667 24.7029 29.1667 26.25C29.1667 27.7971 28.5521 29.2808 27.4581 30.3748C26.3642 31.4687 24.8804 32.0833 23.3333 32.0833C21.7862 32.0833 20.3025 31.4687 19.2085 30.3748C18.1146 29.2808 17.5 27.7971 17.5 26.25C17.5 24.7029 18.1146 23.2192 19.2085 22.1252C20.3025 21.0312 21.7862 20.4167 23.3333 20.4167ZM35 43.75H11.6667V40.8333C11.6667 36.9542 19.4542 35 23.3333 35C27.2125 35 35 36.9542 35 40.8333V43.75ZM58.3333 46.6667H40.8333V40.8333H58.3333V46.6667ZM58.3333 35H40.8333V29.1667H58.3333V35ZM58.3333 23.3333H40.8333V17.5H58.3333V23.3333ZM37.9167 11.6667H32.0833V0H37.9167V11.6667Z" fill="white"/></svg>
    <h2 class="text-xl font-semibold">1 funcionários cadastrados</h2>
  </div>
  <div class="bg-primary p-5 w-full rounded text-white flex gap-4 items-center">
    <svg width="70" height="63" viewBox="0 0 70 63" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 49H70V63H0V49ZM14.875 14H24.5V10.5H14V0H42V10.5H31.5V14H55.3C58.8 14 62.3 17.5 63 21L64.75 45.5H5.25L7.175 21C7.175 17.5 10.675 14 14.875 14ZM38.5 21V28H56V21H38.5ZM14 21V24.5H21V21H14ZM24.5 21V24.5H31.5V21H24.5ZM14 28V31.5H21V28H14ZM24.5 28V31.5H31.5V28H24.5ZM14 35V38.5H21V35H14ZM24.5 35V38.5H31.5V35H24.5ZM17.5 3.5V7H38.5V3.5H17.5Z" fill="white"/></svg>
    <h2 class="text-xl font-semibold">1 vendas realizadas</h2>
  </div>
  <div class="bg-primary p-5 w-full rounded text-white flex gap-4 items-center">
    <svg width="70" height="47" viewBox="0 0 70 47" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H70V46.6667H0V0ZM35 11.6667C38.0942 11.6667 41.0617 12.8958 43.2496 15.0838C45.4375 17.2717 46.6667 20.2391 46.6667 23.3333C46.6667 26.4275 45.4375 29.395 43.2496 31.5829C41.0617 33.7708 38.0942 35 35 35C31.9058 35 28.9383 33.7708 26.7504 31.5829C24.5625 29.395 23.3333 26.4275 23.3333 23.3333C23.3333 20.2391 24.5625 17.2717 26.7504 15.0838C28.9383 12.8958 31.9058 11.6667 35 11.6667ZM15.5556 7.77778C15.5556 9.84057 14.7361 11.8189 13.2775 13.2775C11.8189 14.7361 9.84057 15.5556 7.77778 15.5556V31.1111C9.84057 31.1111 11.8189 31.9306 13.2775 33.3892C14.7361 34.8478 15.5556 36.8261 15.5556 38.8889H54.4444C54.4444 36.8261 55.2639 34.8478 56.7225 33.3892C58.1811 31.9306 60.1594 31.1111 62.2222 31.1111V15.5556C60.1594 15.5556 58.1811 14.7361 56.7225 13.2775C55.2639 11.8189 54.4444 9.84057 54.4444 7.77778H15.5556Z" fill="white"/></svg>
    <h2 class="text-xl font-semibold">R$ 180,00 faturados</h2>
  </div>  
</div>
